* {
    margin: 0;
    padding: 0;
}

header {
    background-color: brown;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}
nav {
    margin-right: auto;
    
}

nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-right: 10px;
}

.mainbox {
    border: 1 solid 30px;
    margin: 25px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.insidebox {
    background: grey;
    height: 350px;
    display: flex;
    flex-direction: row;
    position: relative;    
}

.leftroh {
    position: absolute;  
    justify-items: flex-start;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center; 
    background-color: green;
    height: 50px;
    width: 400px;
    padding: 10px; 
}

.bottomcenter {
    position:absolute;
    bottom: 0;
    right: 50%;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center; 
    background-color: red;
    height: 50px;
    width: 400px;
    padding: 10px; 
}

.rightcenter {
    position:absolute;
    right: 0%;
    top: 50%;
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center; 
    background-color: yellow;
    height: 50px;
    width: 400px;
    padding: 10px;
    
}
.rightbottomroh {
    position:absolute;
    bottom: 0;
    right: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    background-color: blue;
    height: 50px;
    width: 400px;
    padding: 10px;
     
}

.emails {
    border: 1px solid grey;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-46%, -50%);
    margin-bottom: 20px;
}

.quantity {
    position: absolute;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: rgb(85, 165, 42);
    top: -5px;
    right: -10px;
}